.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  padding-right: 40%;
  padding-left: 5%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.App-header > h1 {
  color: dodgerblue;
  cursor: pointer;
}

.App-intro {
  font-size: large;
 
}

h2 {
  text-align: center;
}

li {
  text-align: center;
  margin: 5px 0px;
  cursor: pointer;
}
li:hover{
  border: 2px dotted sandybrown;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}